body, html {
	font-family: 'Varela Round', sans-serif;
	background: #eee;
	margin: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

:root {
	--theme-color: #4f4f4f;
}

@media only screen and (max-width: 1000px) {
	.playerList {
		grid-template-columns: auto auto auto auto !important;
	}
	.grid-item > div > img {
		width: 20vw !important;
	}
	.grid-item {
		width: 20vw !important;
	}
	.listTitle {
		margin-left: 2vw !important;
	}
	.videos {
		flex-direction: column;
	}
	.mainVid {
		width: 100% !important;
		border-bottom-left-radius: 0 !important;
		border-top-right-radius: 13px;
	}
	.nextVidsText {
		text-align: left !important;
		margin-top: 2vh !important;
	}
	.nextVids {
		flex-direction: row !important;
	}
	.nextVid {
		width: calc((100% - 2vw) / 3) !important;
		margin-right: 1vw;
	}
	.nextVid:nth-of-type(1) {
		border-bottom-left-radius: 13px;
	}
	.nextVid:last-child {
		margin-right: 0;
	}
	.hymnHover {
		width: 60vw !important;
	}
	.trophyYears {
		width: 50% !important;
	}
	.scrollTop {
		width: 5vw !important;
	}
	#articles-list {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) !important;
	}
	.imgGallery {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) !important;
	}
	.quizWrap {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) !important;
	}
}

@media only screen and (max-width: 800px) {
	.playerList {
		grid-template-columns: auto auto auto !important;
	}
	.grid-item > div > img {
		width: 27vw !important;
	}
	.grid-item {
		width: 27vw !important;
	}
	.nextVidsText {
		font-size: 19px !important;
	}
	.hymnHover {
		width: 80vw !important;
	}
	.trophyYears {
		flex-direction: column-reverse !important;
		width: 55% !important;
	}
	.scrollTop {
		width: 7vw !important;
	}
	#articles-list {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) !important;
	}
	.imgGallery {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) !important;
	}
	.quizWrap {
		grid-template-columns: minmax(0, 1fr) !important;
	}
}

@media only screen and (max-width: 600px) {
	.innerHeader {
		flex-direction: column-reverse;
		padding-bottom: 0px;
	}
	.titleText {
		position: static !important;
		text-align: center;
	}
	.bg_logo {
		width: 50% !important;
	}
	.textImg {
		width: 100% !important;
		margin: 0 0 2vh 0 !important;
	}
	.playerList {
		grid-template-columns: auto auto !important;
	}
	.grid-item > div > img {
		width: 37vw !important;
	}
	.grid-item {
		width: 37vw !important;
		font-size: 90%;
	}
	.listTitle {
		margin-left: 5vw !important;
	}
	.nextVidsText {
		font-size: 17px !important;
	}
	.hymn {
		width: 100% !important;
		height: 17vh !important;
		min-height: 130px !important;
		font-size: 75% !important;
	}
	.hymnHover {
		width: 100% !important;
	}
	.trophyYears {
		width: 65% !important;
	}
	.closeHymn {
		display: none;
	}
	.clearfix {
		display: flex;
		flex-direction: column;
	}
	.scrollTop {
		width: 10vw !important;
	}
	.menu-item {
		margin: 1vh 3vw !important;
	}
	#articles-list {
		grid-template-columns: minmax(0, 1fr) !important;
	}
	#nextMatches > li > * {
		transform: scale(0.9);
	}
	.imgGallery {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) !important;
	}
	.kits {
		grid-template-columns: minmax(0, 1fr) !important;
	}
}

@media only screen and (min-width: 600px) {
	.textImg:hover {
		transform: scale(1.02);
	}
	.hymn {
		position: fixed !important;
		right: 20px;
		top: 20px;
		z-index: 100;
	}
}

.header {
	background: #777;
	color: #fff;
	position: relative;
	z-index: 10;
}

.header::after {
	content: "";
	position: absolute;
	background-color: transparent;
	height: 50px;
	width: 25px;
	border-top-left-radius: 25px;
	box-shadow: 0 -25px 0 0 #4f4f4f;
}

.midHeader::after {
	content: "";
	position: absolute;
	background-color: transparent;
	height: 50px;
	width: 25px;
	right: 0;
	border-top-right-radius: 25px;
	box-shadow: 0 -25px 0 0 #4f4f4f;
}

.header-bg {
	position: absolute;
	width: 100%;
	mix-blend-mode: multiply;
	height: 100%;
	z-index: 0;
}

.innerHeaderWrap {
	z-index: 5;
	position: relative;
}

.leftHeaderGrad {
	width: 20vw;
	height: 100%;
	position: absolute;
	z-index: 5;
	left: 0;
	background: linear-gradient(to left, rgba(79, 79, 79, 0) 0, rgba(79, 79, 79, .7) 50%, #4f4f4f 100%);
}

.rightHeaderGrad {
	width: 20vw;
	height: 100%;
	position: absolute;
	z-index: 5;
	right: 0;
	background: linear-gradient(to right, rgba(79, 79, 79, 0) 0, rgba(79, 79, 79, .7) 50%, #4f4f4f 100%);
}

.topHeaderGrad {
	width: 100%;
	height: 10vh;
	position: absolute;
	z-index: 5;
	top: 0;
	background: linear-gradient(to top, rgba(79, 79, 79, 0) 0, rgba(79, 79, 79, .7) 50%, #4f4f4f 100%);
}

.headerHr {
	width: 80%;
	border-radius: 100%;
	margin: 0 auto;
	border: 1px solid #fff;
}

.innerHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.titleText {
	display: flex;
	flex-direction: column;
	left: 2vw;
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.pageTitle {
	font-size: 25px;
	margin: 0;
}

.slogan {
	font-size: 13px;
	margin: 0;
}

.logo{
	width: 75px;
	aspect-ratio: 1 / 1;
	filter: drop-shadow(0px 0px 3px #444);
}

.outer-main {
	margin: 2vw;
}

.main {
	margin: 3vh 3vw;
	position: relative;
}

.top-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.menu-item {
	margin: 1vh 2vw;
}

.menu-item > a {
	text-decoration: none;
	color: inherit;
}

.activeAnch {
	text-decoration: underline !important;
}

.menu-item:hover {
	transform: scale(1.1);
}

.logoWrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

.bg_logo {
	margin: 0 auto;
	width: 30%;
	pointer-events: none;
	opacity: 0.1;
	filter: blur(2px);
}

.textbox {
	position: relative;
	margin-top: 40px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

#stadium {
	float: right;
	margin: 0 0 15px 15px;
}

#trophy {
	float: left;
	margin: 0 15px 15px 0;
}

.textImg {
	width: 40vw;
	filter: drop-shadow(0px 0px 3px #444);
	border-radius: 5px;
}

.fullscreen {
	display: block !important;
	width: 100% !important;
	height: 100% !important;
	object-fit: contain !important;
	position: fixed !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
	z-index: 500 !important;
	padding: 0 !important;
	margin: 0 !important;
	pointer-events: none !important;
	border-radius: 0 !important;
}

#hideBg {
	position: fixed;
	z-index: 400;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
}

#closeBtn {
	display: none;
	position: fixed;
	top: 3vh;
	right: 3vw;
	font-size: 30px;
	background-color: #fff;
	border-radius: 100%;
	padding: 5px;
	z-index: 500;
	opacity: 0.5;
}

.prevImg, .nextImg {
	position: fixed;
	border-radius: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	width: 5vw;
	min-width: 40px;
	max-width: 60px;
	aspect-ratio: 1 / 1;
	background: rgba(0,0,0,.3);
	color: #fff;
	transition: all 1s ease-in-out;
	font-size: 175%;
	cursor: default;
	z-index: 500;
}

.prevImg {
	left: 3vw;
	top: 50%;
	transform: translateY(-50%);
}

.nextImg {
	right: 3vw;
	top: 50%;
	transform: translateY(-50%);
}

.prevImg:hover, .nextImg:hover {
	background: rgba(0,0,0,1);
}

h1 {
	text-align: center;
	color: #1c4891;
	margin-top: 40px;
}

h2 {
	margin: 0;
}

.playerList {
	list-style-type: none;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	position: relative;
	padding: 0;
}

.grid-item {
	margin: 2vh auto;
	border-radius: 10px;
	overflow: hidden;
	width: 16vw;
	white-space: initial;
	max-height: 100vh;
	display: flex;
	box-shadow: 2px 2px 5px #444;
}

.grid-item > div {
	background-color: #fff;
}

.grid-item > div > img {
	width: 16vw;
	aspect-ratio: 380 / 501;
	pointer-events: none;
}

.grid-item > div > div {
	padding: 0px 10px 10px 10px;
}

.playerName {
	margin-bottom: 0;
	font-weight: bold;
}

.playerPos {
	margin-top: 0;
	font-size: 12px;
}

.listTitle {
	margin: 5vh auto auto 1vw;
	font-size: 20px;
}

.trophy-item > div > img {
	aspect-ratio: 220 / 260;
	pointer-events: none;
}

.outerTY {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.trophyYears {
	text-align: center;
	background-color: #ddd;
	border: 1px solid #888;
	z-index: 100;
	width: 50%;
	padding: 25px;
	display: none;
	pointer-events: none;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	box-shadow: 0px 0px 5px #444;
	position: relative;
}

.trophyImg {
	width: 220px;
	height: 260px;
	mix-blend-mode: multiply;
}

.closeTYbtn {
	pointer-events: auto;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 175%;
}

.outerTrophyImg {
	display: flex;
	flex-direction: column;
}

.trophyYears > div:nth-child(2) {
	margin: auto;
	padding: 10px;
}

.videos {
	display: flex;
	margin-top: 5vh;
	background-color: rgba(150, 150, 150, 0.7);
	padding: 1vw;
	border-radius: 17px;
	box-shadow: 0px 0px 10px #444;
}

.mainVid {
	width: 100vw;
	aspect-ratio: 16 / 9;
	margin-right: 10px;
	border-top-left-radius: 13px;
	border-bottom-left-radius: 13px;
	border: none;
}

.nextVids {
	display: flex;
	flex-direction: column;
	vertical-align: bottom;
}

.tilted {
	transform: perspective(200px) rotate3d(0, 1, 0, -10deg) scale(0.8);
}

.tilted > * {
	border-radius: 5px !important;
}

.videos:has(div > .tilted) {
	background: transparent !important;
	box-shadow: 0px 0px 0px #444 !important;
	padding: 0 !important;
}

.mainVid:has(+ div > .tilted) {
	border-radius: 13px;
}

.nextVidsText:has(+ .tilted) {
	display: none;
}

.tilted > .nextLine {
	display: none;
}

.nextVid:last-child {
	border-bottom-right-radius: 13px;
}

.nextVid:hover {
	transform: scale(1.02);
}

.nextVidsText {
	font-size: 20px;
	text-align: right;
	margin: 0;
}

.nextVid {
	width: 22vw;
	aspect-ratio: 16 / 9;
	margin-top: 10px;
}

a {
	text-decoration: none;
	color: #000;
}

.ytLink {
	margin-top: 2vh;
}

.hymn {
	width: 10vh;
	height: 10vh;
	min-width: 100px;
	min-height: 100px;
	display: flex;
	background: #000;
	border-radius: 20px;
	overflow: hidden;
	white-space: nowrap;
	transition: all 1s ease-in-out;
	position: relative;
	margin-bottom: 5vh;
	color: #fff;
	box-shadow: 0px 0px 7px #000;
	transform: translateZ(23px);
}

.hymnHover {
	width: 50vw;
	height: 175px;
}

.closeHymn {
	position: absolute;
	right: 10px;
	top: 10px;
	color: #fff;
	font-size: 175%;
}

.coverImg {
	height: calc(100% - .6vh);
	margin: .3vh;
	border-radius: 18px;
	z-index: 11;
}

.controlbtn {
	border-radius: 10px;
	color: #fff;
	background: #444;
	border: none;
	padding: 10px;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1vw;
}

.controlbtn:last-child {
	margin-right: 0;
}

.musicData {
	padding: 0 10px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.songTitle {
	font-size: 125%;
	margin-bottom: 0;
}

.songArtist {
	font-size: 85%;
	margin-top: 0;
}

.controls {
	display: flex;
	justify-content: center;
}

.timeData {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.seekbar {
	width: 60%;
	height: 10%;
	background-color: #444;
	outline: none;
	appearance: none;
	overflow: hidden;
	border-radius: 15px;
}

.seekbar::-webkit-slider-thumb {
	width: 3px;
	appearance: none;
	box-shadow: -500px 0 0 500px #fff;
	background: #fff;
}

.ytRedir {
	display: flex;
	align-items: center;
	margin-bottom: 2vh;
}

.ytRedir > div {
	margin-right: 15px;
	background: #fff;
	border-radius: 100%;
	background: url('https://upload.wikimedia.org/wikipedia/de/3/3f/Real_Madrid_Logo.svg');
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
	width: 50px;
	aspect-ratio: 1 / 1;
}

.videoData {
	margin-top: 3vh;	
}

#videoTitle {
	font-size: 140%;
}	

.videoDataHr {
	border: .5px solid #000;
	color: #000;
}

.firstLetter::first-letter {
	float: left;
	font-size: 480%;
	line-height: 70%;
	margin-top: .05em;
	margin-right: .15em;
	font-weight: bold;
	color: #1c4891;
	font-family: serif;
}

.scrollTop {
	position: fixed;
	width: 4vw;
	max-width: 60px;
	aspect-ratio: 1 / 1;
	background: rgba(0,0,0,.3);
	color: #fff;
	bottom: 15px;
	right: 15px;
	border-radius: 15px;
	z-index: 100;
	display: none;
	justify-content: center;
	align-items: center;
	font-size: 175%;
	transition: all 1s ease-in-out;
}

.scrollTop:hover {
	background: rgba(0,0,0,1);
}

.outer-news {
	padding-top: 1vh;
}

#articles-list {
 	list-style-type: none;
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	position: relative;
	padding: 0 calc(3vw - 15px);
}

#articles-list li {
 	border: 1px solid #e0e0e0;
	margin: 15px;
	background: #fff;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

#articles-list li div {
	padding: 0 15px 15px 15px;
}

#articles-list p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	font-size: 95%;
}

.webLink {
	font-size: 80%;
	position: absolute;
	bottom: 5px;
}

#articles-list img {
	width: 100%;
	pointer-events: none;
	aspect-ratio: 3 / 2;
	object-fit: cover;
}

h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.footer {
	background: var(--theme-color);
	color: #fff;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
	position: relative;
	margin-top: 5vw;
}

.footer > p:last-of-type {
	font-size: 75%;
}

.footer > hr {
	width: 90%;
	border: .5px solid #fff;
}

.social-media > * {
	margin: auto 10px;
}

.social-media > a > svg {
	fill: #fff;
}

.social-media {
	margin-bottom: 50px;
}

.outerNextUp {
	padding-top: 1vh;
	display: none;
}

.nextUp {
	width: calc(100% - 6vw);
	border-radius: 5px;
	position: relative;
	color: #fff;
	padding: 15px 0;
	margin: auto 3vw;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 0;
}

.prevMatch, .nextMatch {
	position: absolute;
	border-radius: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	width: 5vw;
	min-width: 40px;
	max-width: 60px;
	aspect-ratio: 1 / 1;
	background: rgba(0,0,0,.3);
	color: #fff;
	transition: all 1s ease-in-out;
	font-size: 175%;
	cursor: default;
	z-index: 50;
}

.prevMatch:hover, .nextMatch:hover {
	background: rgba(0,0,0,1);
}

.prevMatch {
	left: 2%;
}

.nextMatch {
	right: 2%;
}

#nextMatches {
	display: flex;
	list-style-type: none;
	padding: 0;
	overflow-x: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	scroll-behavior: smooth;
}

#leftGrad {
	width: 30px;
	height: 80%;
	position: absolute;
	z-index: 40;
	left: -5px;
	background: linear-gradient(to left, rgba(238, 238, 238, 0) 0, rgba(238, 238, 238, .7) 35%, #eee 70%);
}

#rightGrad {
	width: 30px;
	height: 80%;
	position: absolute;
	z-index: 40;
	right: -5px;
	background: linear-gradient(to right, rgba(238, 238, 238, 0) 0, rgba(238, 238, 238, .7) 35%, #eee 70%);
}

#nextMatches::-webkit-scrollbar {
	display: none;
}

#nextMatches > li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 70%;
	background: #999;
	padding: 15px;
	border-radius: 5px;
	margin-right: 15px;
}

#nextMatches > li:first-of-type {
	margin-left: calc(15% - 15px);
}

#nextMatches > li:last-of-type {
	margin-right: 0;
}

.matchesMargin {
	min-width: calc(15% - 15px);
}

#nextMatches > li > div:nth-of-type(1) {
	margin-bottom: 15px;
}

#nextMatches > li > div:nth-of-type(2) {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#nextMatches > li > div:nth-of-type(2) > div {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
	margin: auto;
}

#nextMatches img {
	width: 10vw;
	min-width: 75px;
	max-width: 125px;
	pointer-events: none;
}

#nextMatches p {
	text-align: center;
}

.score {
	font-size: 175%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.outerImgGallery {
	padding-top: 1vh;
}

.imgGallery {
	list-style-type: none;
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	position: relative;
	padding: 0 calc(3vw - 5px);
}

.imgGallery > li {
	display: flex;
	justify-content: center;
	align-items: center;
}

.imgGallery > li > img {
	width: calc(100% - 10px);
	aspect-ratio: 1 / 1;
	object-fit: cover;
	position: relative;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
}

.imgGallery > li > img:hover {
	transform: scale(1.02);
}

.outerKit {
	padding-top: 1vh;
}

.shopWrap {
	display: flex;
	justify-content: flex-end;
	position: relative;
}

.shopWrap > a {
	margin: 0 3vw;
	width: max-content;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	transition: all .25s ease-in-out;
}

.shopWrap > a:hover {
	background-color: #1c4891;
	color: #fff;
}

.shopWrap > a > div {
	margin-right: 10px;
}

.kits {
	list-style-type: none;
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	position: relative;
	padding: 0 calc(3vw - 5px);
}

.kits > li > a {
	width: calc(100% - 10px);
	position: relative;
	margin: 5px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #e0e0e0;
}

.kits img {
	width: 100%;
	pointer-events: none;
}

.kits p {
	padding: 0 10px;
}

.outerQuiz {
	padding-top: 1vh;
	margin: 0 calc(3vw - 10px);
}

.quizWrap {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

.quizWrap > div {
	margin: 10px;
}

.labelContainer {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 10px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: max-content;
}

.labelContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #aaa;
	border-radius: 5px;
}

.labelContainer:hover input ~ .checkmark {
	background-color: #777;
}

.labelContainer input:checked ~ .checkmark {
	background-color: #1c4891;
}

.labelContainer input:disabled ~ .checkmark {
	background-color: #aaa;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.labelContainer input:checked ~ .checkmark:after {
	display: block;
}

.labelContainer .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#results {
	margin: 0 10px;
}

#evalBtn {
	width: max-content;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	color: #000;
	transition: all .25s ease-in-out;
	font-size: 100%;
	margin: 0 10px;
}

#evalBtn:hover {
	background-color: #1c4891;
	color: #fff;
}

h1 > ion-icon {
	margin-left: 10px;
}

.obligatory {
	/*Obligatory CSS Start*/
	position: fixed;
	left: -80px;
	top: 0;
	border-bottom: 2px solid #2f2f2f;
	margin-left: 80px;
	padding-right: 80px;
	background-color: var(--theme-color);
	/*Obligatory CSS End*/
	z-index: 5;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	color: #fff;
}

.obligatory img {
	height: calc(100% - 10px);
	position: absolute;
	left: 15px;
	top: 5px;
}
